.main-container{
    padding: 0 25px 25px 25px;

}


/* NAVBAR */

    /* Navbar positioning  */
    nav.navbar-expand-lg{
        position: absolute;
        top: 0;
        z-index: 1;
        right: 0;
    }

    /* Style the links inside the nav bar */
    .nav-item {
        display: block;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
       
    }
    
    /* Change the color of links on hover */
    .nav-item:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        color: black;
    }

   
    
/* NAVBAR */

/* LOGO  */

    img.logo {
        width: 340px;
        height: 200px;
        position: relative;
    }

    @media screen and (min-width: 1000px) {   
        img.logo{
            width: 340px;
            height: 200px;
        } 
    }

/* LOGO  */

/* SECTION-1 */

    .reel-btn {
        border-radius: 4px;
        background-color: #EDEDED;
        border: none;
        color: #0a0a0a;
        text-align: center;
        font-size: 15px;
        font-weight: 500; 
        padding: 15px;
        width: 250px;
        transition: all 0.5s;
        cursor: pointer;
     }
  
    .reel-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
     }
  
    .reel-btn span:after {
        font-family: "FontAwesome";
        content: '\f061';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -60px;
        transition: 0.5s;
        font-weight: 800;
        
    }
  
    .reel-btn:hover span {
        padding-right: 40px;
        color: black;
    }

    /* .reel-btn:hover {
        
        background-color: #0099AB;
        color: white;
    } */

  
    .reel-btn:hover span:after {
        opacity: 1;
        right: 0;
     }

    .hvr-bounce-to-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }
      .hvr-bounce-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0099AB;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
        color: white;
      }
      .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }

/* SECTION-1 */

/* SECTION-2  */

    /* IMAGE  */
    img.sec2-img{ 
        height: 550px;
        width: 500px;
    }

    .img-container{
        text-align: center;
    }

    /* TEXT  */
    .sec2-heading p{
        color: grey;
    }

    .sec2-heading h4{
        color: #0099AB;
    }

    .sec2-text{
        padding: 90px 30px 20px 10px;
    }

/* SECTION-2  */

/* SECTION-3 */

    .sec3-container{
        text-align: center;
    }

    .sec3-heading h6{
        color: #0099AB;
    }

    /* card  */

        .card-inner{
            height: 515px;
        }

        .hvr-sweep-to-top {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            
          }
          .hvr-sweep-to-top:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #0099AB;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
          }
          .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
            color: white;
          }
          .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
          }

          



    /* icon/image  */
        .card-img{
            width: 420px;
            /* padding: 24px; */
            /* margin-bottom: 40px; */
        }

        /* @media screen and (max-width: 900px) {   
            .card-img{
            margin-bottom: 20px;
            } 
        } */

        /* @media screen and (max-width: 845px) {   
            .card-img{
            width: 420px;
            margin-bottom: 10px;
            } 
        } */

    /* BUTTON  */
        .card-btn{
            padding: 5px;
            width: 200px;
            background: white;
            border: 3px #0099AB solid;
            border-radius: 30px;
            color: #0099AB;
        }

        .hvr-sweep-to-top .card-btn{
            border: 3px #0099AB solid;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }

        .hvr-sweep-to-top:hover .card-btn{
            border: 3px white solid;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }

/* SECTION-3 */

/* SECTION-4 */
    .sec4-container{
        text-align: center;
    }


/* SECTION-4 */

    .work-glry{
        display: inline block;
    }

    /* TEXT  */
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 65%;
            left: 0.938rem;
            text-align: center;
        }

        .img-text {
 
            color: #292929;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            font-weight: 600; 
        }

        .work-glry:hover .middle{
            opacity: 1;
            background-color: rgba(204, 201, 201, 0.829);
        }


/* SECTION-4 */
